body, html {
	font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
}

button {
  justify-content: space-around;
  min-width: 120px !important;
}

.card {
  border: 1px solid lightgray;
  box-shadow: 3px 3px 12px #ddd;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

input {
  background: none !important;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 100%;
}

hr {
  margin: 40px 0;
}

.win {
  border-color: #2395f3;
  color: #2395f3;
}

.lose {
  border-color: #f64d18;
  color: #f64d18;
}

input[type="submit"],
input[type="reset"] {
  background-color: rgb(var(--matter-helper-theme)) !important;
  -webkit-appearance: button;
  justify-content: space-around;
  margin: 5px;
  min-width: 120px !important;
}

input[type="reset"] {
  background-color: #f64d18 !important;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 40%;
}

.container .top-row {
  margin-bottom: 40px;
}

.container .top-row form {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.container .top-row label {
  flex-grow: 2;
  margin-right: 40px;
  min-width: 200px;
}

.feedback-text {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.feedback-text .status {
  font-size: 3em;
  font-weight: bold;
}

.attempts {
  display: block;
  text-align: center;
}
